@import './css/weather-icons.css'; 
@import 'https://use.typekit.net/mck3tnd.css';

body {
  margin: 0;
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
