hr {
  border: solid 1px white;
}

i {
  margin-right: 15px;
}

.wind-and-humidity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 40px;
  margin: 15px;
}

.temperature {
  font-size: 105px;
}

.city-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 65px;
}

.container {
  white-space: nowrap;;
  display: flex;
  justify-content: space-around;
}

.weather-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -40px;
  margin-bottom: -40px;
}

.weather-container {
  color: white;
  margin: 30px;

}

@media (prefers-reduced-motion: no-preference) {
    .weather-icon {
      animation: weather-icon-float infinite 3s ease-in-out;
    }
}
  
@keyframes weather-icon-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px)
    }
    100% {
      transform: translateY(0px)
    }
}
  